* {
    bg0:      #1e1e2eee;
    bg1:      #313244;
    fg0:      #cdd6f4;
    accent:   #1F0B36;
    accent2:  #89b4fa;
    urgent:   #f38ba8;

    background-color: transparent;
    text-color:        @fg0;
    font:               "JetBrainsMono Nerd Font 11";
}

window {
    transparency:                "real";
    background-color:            @bg0;
    border:                      2px;
    border-color:                @accent;
    border-radius:                14px;
    width:                        600px;
    location:                    center;
    anchor:                      center;
    padding:                     18px;
}

mainbox {
    children: [ inputbar, listview ];
    spacing:  14px;
}

inputbar {
    background-color: @bg1;
    border-radius:      10px;
    padding:            10px 14px;
    children:            [ entry ];
}

entry {
    placeholder:        "Search...";
    placeholder-color:  #7f849c;
    text-color:          @fg0;
}

listview {
    lines:               8;
    spacing:             6px;
    scrollbar:           false;
    fixed-height:        false;
}

element {
    padding:            8px 10px;
    border-radius:       10px;
}

element normal.normal {
    background-color: transparent;
    text-color:        @fg0;
}

element selected.normal {
    background-color: @accent;
    text-color:        @bg0;
}

element-icon {
    size: 22px;
}

element-text {
    vertical-align: 0.5;
}
