[Desktop Entry]
Type=Application
Name=betterlockscreen wallpaper
Exec=betterlockscreen -u %h/home/chiku/Pictures/lockwalls/ --fx dim,blur
X-GNOME-Autostart-enabled=true
